<script src="javascripts/flowchart.js"></script>
フローチャート index<br>
<% if admin_signed_in? %>
  <%= link_to "フローチャート追加", new_flowchart_path %>
<% end %>

<div class="tab-area">
  <div class="tab active">
    タブ１
  </div>
  <div class="tab">
    タブ２
  </div>
  <div class="tab">
    タブ３
  </div>
  <div class="tab">
    タブ４
  </div>
  <div class="tab">
    タブ５
  </div>
</div>
<div class="content-area">
  <div class="content show">
    フローチャートのタイトル１
  </div>
  <div class="content">
    フローチャートのタイトル２
  </div>
  <div class="content">
    フローチャートのタイトル３
  </div>
  <div class="content">
    フローチャートのタイトル４
  </div>
  <div class="content">
    フローチャートのタイトル５
  </div>
</div>

東京都の各自治体ホームページ

<table border="1">
  <tbody>
    <tr>
      <td><a href= https://www.city.suginami.tokyo.jp>杉並区</a></td>
      <td><a href= https://www.city.tokyo-nakano.lg.jp/>中野区</a></td>
    </tr>
  </tbody>
</table>