<% article.comments.each do |comment| %>
  <tbody>
    <td><%= comment.user.name %></td>
    <td><%= comment.comment %></td>
    <% if comment.user == current_user %>
    <td>
      <%= link_to "削除", article_comment_path(comment.article, comment), class: 'btn btn-danger', method: :delete %>
    </td>
    <% end %>
  </tbody>
<% end %>