<%= form_with(model:[article, comment]) do |f| %>
  <div class="form">
    <%= f.text_area :comment, rows: "5", cols: "80", placeholder: "このフォームに入力すると、記事への感想をコメントできます。" %>
  </div>
  <div class="comment-submit">
    <%= f.submit "コメントする", class: 'btn btn-success' %>
  </div>
<% end %>