<% if user_signed_in? %>
  <%= link_to "記事を投稿する", new_article_path %>
<% end %>

<table border="1">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>記事タイトル</th>
      <th>記事紹介文</th>
      <th>コメント数</th>
      <% if user_signed_in? %>
      <th>いいね</th>
      <% end %>
      <th>いいね数</th>
      <th>記事の詳細ページ</th>
    </tr>
  </thead>

  <% @articles.each do |article| %>
      <%= render 'article', article: article %>
  <% end %>
</table>