.tab-area {
  display: flex;
  justify-content: space-around;
  background-color: #222e3e;
  cursor: pointer;
  .tab {
    width: 308px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-right: 1px solid #50637b;
    border-left: 1px solid #222e3e;
  }
  .tab.active {
    background-color: #ccc;
    color: #222e3e;
    border: none;
  }
}
.content-area {
  font-size: 30px;
  text-align: center;
  .content {
    display: none;
  }
  .content.show {
    margin-top: 30px;
    display: block;
  }
}

.tokyo_tab-area {
  display: flex;
  justify-content: space-around;
  background-color: #222e3e;
  cursor: pointer;
  .tokyo_tab {
    width: 308px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-right: 1px solid #50637b;
    border-left: 1px solid #222e3e;
  }
  .tokyo_tab.tokyo_active {
    background-color: #ccc;
    color: #222e3e;
    border: none;
  }
}

.tokyo_content-area {
  font-size: 30px;
  text-align: center;
  padding-bottom: 2px;
  .tokyo_content {
    display: none;
  }
  .tokyo_content.show {
    margin-top: 30px;
    display: block;
  }
}

table {
  width: 95%;
  margin: 20px auto;
}

.content.show td {
  width: 25%;
}

.flowchart_content {
  background-image: image-url('bluetile');
}

table {
  background-color: white;
}

.introduction {
  display: inline-block;
  text-align: center;
}

.chart {
  display: flex;
  justify-content: center;
}

.flowchart-title {
  text-align: center;
  text-decoration: underline;
}

.flowchart-title:first-child {
  padding-top: 20px;
}

.flowchart-chart {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.introduction span {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  border: 2px solid #000066;
  padding: 10px 10px;
}

.arrow {
  font-size: 30px;
  text-align: center;
}

.flowchart-title {
  font-size: 40px;
}

.flowchart-content {
  background-image: image-url('pinktile.jpg');
  padding-bottom: 1px;
}

.flowchart-edit {
  padding: 20px;
  text-align: center;
  background-image: image-url('whitetile.jpg');
}

.flowchart-edit-title h1 {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

.flowchart-edit-content {
  display: flex;
  justify-content: center;
}

.flowchart-edit .submit-form {
  display: flex;
  justify-content: center;
}

.flowchart-edit-content form {
  padding: 10px 50px 10px 50px;
  margin-left: 50px;
}

.flowchart-new {
  padding: 20px;
  text-align: center;
  background-image: image-url('whitetile.jpg');
}

.flowchart-new-title h1 {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

.flowchart-new-content {
  display: flex;
  justify-content: center;
}

.flowchart-new .submit-form {
  display: flex;
  justify-content: center;
}

.flowchart-new-content form {
  padding: 10px 50px 10px 50px;
  margin-left: 40px;
}

.form_group {
  margin-bottom: 30px;
}

.tokyo_content.show td {
  width: 25%;
}