// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search_area {
  background-image: image-url('procedure.jpg');
  height: 960px;
  background-size: cover;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}