<div class="report-content">
  <div class="report-article">
    <table border="1">
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>記事タイトル</th>
            <th>記事紹介文</th>
            <th>タグ</th>
            <th>コメント数</th>
            <% if user_signed_in? %>
              <th>いいね</th>
            <% end %>
            <th>いいね数</th>
            <th>記事の詳細ページ</th>
            <th>記事作成日時</th>
          </tr>
        </thead>
      <% @articles.each do |article| %>
        <%= render 'articles/article', article: article %>
      <% end %>
    </table>
  </div>
</div>