<div class="header">
  <div class="botton">
    <%= "みんなのオススメ記事" %>
  </div>

  <div class="botton">
    <%= "手続きフローチャート" %>
  </div>

  <div class="botton">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
</div>