<div class="header">
  <div class="botton">
    <%= link_to "トップページ",  root_path %>
  </div>

  <div class="botton">
    <%= link_to "みんなのオススメ記事", articles_path %>
  </div>

  <div class="botton">
    <%= link_to "手続きフローチャート", flowcharts_path %>
  </div>

  <div class="botton">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
</div>