<div class="header">
  <div class="botton">
    <%= "みんなのオススメ記事" %>
  </div>

  <div class="botton">
    <%= "手続きフローチャート" %>
  </div>

  <div class="botton">
    <%= link_to "新規登録", new_user_registration_path %>
  </div>

  <div class="botton">
    <%= link_to "ログイン", new_user_session_path %>
  </div>
</div>